In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
import pandas as pd
df_train = pd.read_csv('tam_3_train.tsv',sep='\t')

In [ ]:
df_train.head()

,category,text,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Transphobic,அர்த்தநாரீஸ்வரர் ஆணுமானவர் பெண்ணுமானவர். இது ஒ...,திருநங்கை ஆணும் இல்லாதவர்கள் பெண்ணும் இல்லாத...,இது மறுபக்கம். - ve,இது சாரம் மட்டுமே.,முழுதும் புரிய 10 பக்கம் எழுதணும்.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Non-anti-LGBT+ content,section377 | ஓரினச்சேர்க்கை நல்லதா கெட்டதா மக்...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Transphobic,இருக்கிற நாலு பேர் சேர்ந்து அந்த பொறம்போக்கு ச...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Non-anti-LGBT+ content,Shanth sha உடலுறவு இனப்பெருக்கத்திற்கு மட்டும...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Non-anti-LGBT+ content,ஜீவநதி ப்ரியன் hi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_train.shape

(2662, 22)

In [ ]:
df_train1=df_train[['category','text']]

In [ ]:
df_train1.head()

                 category                                               text
0             Transphobic  அர்த்தநாரீஸ்வரர் ஆணுமானவர் பெண்ணுமானவர். இது ஒ...
1  Non-anti-LGBT+ content  section377 | ஓரினச்சேர்க்கை நல்லதா கெட்டதா மக்...
2             Transphobic  இருக்கிற நாலு பேர் சேர்ந்து அந்த பொறம்போக்கு ச...
3  Non-anti-LGBT+ content  Shanth sha  உடலுறவு இனப்பெருக்கத்திற்கு மட்டும...
4  Non-anti-LGBT+ content                                 ஜீவநதி ப்ரியன்  hi

In [ ]:
df_train1 = df_train1.sample(frac=1).reset_index(drop=True)

In [ ]:
df_train1.category.unique()

array(['Non-anti-LGBT+ content', 'Homophobic', 'Transphobic'],
      dtype=object)

In [ ]:
#df_train=df_train.dropna()

In [ ]:
#df_train.Label.unique()

In [ ]:
df_train1['category'] = df_train1.category.replace(to_replace=['Non-anti-LGBT+ content', 'Homophobic', 'Transphobic'], value=[0,1,2])
# 0 - Not offensive
# 1 - Offensive

In [ ]:
#dft1['label'] = dft1.labels.replace(to_replace=['Non- anti LGBT content', 'homophobia', 'transphobia'], value=[0,1,2])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
dft['label']

0      Non- anti LGBT content
1      Non- anti LGBT content
2                 transphobia
3                 transphobia
4      Non- anti LGBT content
                ...
644    Non- anti LGBT content
645    Non- anti LGBT content
646    Non- anti LGBT content
647    Non- anti LGBT content
648    Non- anti LGBT content
Name: label, Length: 649, dtype: object

In [ ]:
dft['label'].value_counts()

Non- anti LGBT content    352
transphobia               271
homophobia                 26
Name: label, dtype: int64

In [ ]:
df_train1.head()

   category                                               text
0         0      என்போன். ந .வாட்சாப்.உங்களுக்கு.அனுப்பிட்டேன்
1         0  திருநங்கை  இந்த மாதிரி நல்லவங்களும் இருக்காங்க...
2         0                           நல்லா இருந்தது நிகழ்ச்சி
3         0  Kanagam G  என் பெயர் சங்கர்... இது நம் தலை எழத்து
4         0  இதுபோன்ற திருநங்கைகளை வழிநடத்தும் பெரிய திருநங...

In [ ]:
df_train1.text[105]

'அவர்களும் உழைக்க வழி அமைத்து கொடுங்கள் தோழரே'

In [ ]:
def deEmojify(text):
    regrex_pattern = re.compile(pattern = "["
        u"\U0001F600-\U0001F64F"  # emoticons
        u"\U0001F300-\U0001F5FF"  # symbols & pictographs
        u"\U0001F680-\U0001F6FF"  # transport & map symbols
        u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           "]+", flags = re.UNICODE)
    return regrex_pattern.sub(r'',text)

In [ ]:
import requests

link = "https://raw.githubusercontent.com/AshokR/TamilNLP/master/tamilnlp/Resources/TamilStopWords.txt"
req = requests.get(link)
stopwords = req.text

In [ ]:

def clean_text(text):

  corpus = ''.join(str(j) for j in text)
  corpus = corpus.replace('.','')
  corpus = corpus.replace('?','')
  corpus = corpus.replace(',','')
  corpus = corpus.replace('!','')
  corpus = corpus.replace('/','')
  corpus = corpus.replace('@','')
  corpus = corpus.replace('\\','')
  corpus = corpus.replace('(','')
  corpus = corpus.replace(')','')
  corpus = corpus.replace('-','')
  corpus = corpus.replace('_','')
  corpus = corpus.replace('@','')
  corpus = corpus.replace('#','')
  corpus = corpus.replace('$','')
  corpus = corpus.replace(';','')
  corpus = corpus.replace(':','')
  corpus = corpus.replace('\'','')
  corpus = corpus.replace('\"','')
  corpus = corpus.replace('*','')
  corpus = ''.join(c for c in corpus if not c.isdigit())
  corpus = deEmojify(corpus)
  corpus = corpus.split()
  corpus = [word for word in corpus if word not in str(stopwords.split()) and not word.isalpha()]
  corpus = ' '.join(corpus)
  return corpus

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
import seaborn as sns
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelBinarizer
from keras.preprocessing.text import Tokenizer
from keras_preprocessing.sequence import pad_sequences

#rom keras.preprocessing.sequence import pad_sequences
from sklearn.feature_extraction.text import TfidfVectorizer
from keras.layers import SpatialDropout1D
from sklearn.metrics import classification_report
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
from sklearn.metrics import f1_score
from sklearn.metrics import precision_recall_curve
from sklearn.model_selection import GridSearchCV
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from tensorflow.keras.layers import Embedding

#from keras.layers.embeddings import Embedding
from keras.preprocessing import sequence
from sklearn.feature_selection import RFE
import re
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:

import requests

link = "https://raw.githubusercontent.com/AshokR/TamilNLP/master/tamilnlp/Resources/TamilStopWords.txt"
req = requests.get(link)
stopwords = req.text

In [ ]:

for row in df_train1:
  df_train1['text'] = df_train1['text'].astype(str)
  df_train1['text'] = df_train1['text'].apply(clean_text)

In [ ]:
df_train1.head()

   category                                               text
0         0            என்போன் வாட்சாப்உங்களுக்குஅனுப்பிட்டேன்
1         0  திருநங்கை மாதிரி நல்லவங்களும் இருக்காங்க இருக்...
2         0                                    நல்லா நிகழ்ச்சி
3         0                        பெயர் சங்கர் நம் தலை எழத்து
4         0  இதுபோன்ற திருநங்கைகளை வழிநடத்தும் பெரிய திருநங...

In [ ]:
df_train1.shape

(2662, 2)

In [ ]:
df_valid = pd.read_csv("tam_3_dev.tsv",sep='\t')

In [ ]:
dft = pd.read_csv("Homo_tam_test_with_labels.tsv",sep='\t')

In [ ]:
dft.head()

,id,Text,labels
0,Tam_01,இது புதுவகை கொள்ளை கூட்டம்,Non- anti LGBT content
1,Tam_02,சுட்டுக்கொல்ல வேண்டும் அல்லது குண்டர் சட்டத்தி...,Non- anti LGBT content
2,Tam_03,இந்த திருநங்கைகள் பொதுமக்களுக்கு பொது இடங்களில...,transphobia
3,Tam_04,அராஜகம் செய்து தங்களுடைய மதிப்பை தாங்களே கெடுத...,transphobia
4,Tam_05,தவறான விடையம் சகோ...அந்த பொண்டுகப் புண்டாமகன்ள...,Non- anti LGBT content

In [ ]:
df_valid.head()

,category,text,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,Non-anti-LGBT+ content,Blue Lilly u can even consider me as an athei...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Non-anti-LGBT+ content,"திருநங்கை நல்ல மனசு கொண்டவர்கள்... , நீங்கள் க...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Non-anti-LGBT+ content,மொதல்ல தமிழ் மொழியை கேவல படுத்தாத.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Non-anti-LGBT+ content,கவலைப்படாதே.உன்.குடும்பத்தில் கண்டிப்பா.ஒரு தி...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Homophobic,துலுக்க நாடுகள்ல தான் ஓரிணசேர்க்கை அதிகமா ஓரிண...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dft1.head()

                   labels                                               Text
0  Non- anti LGBT content                         இது புதுவகை கொள்ளை கூட்டம்
1  Non- anti LGBT content  சுட்டுக்கொல்ல வேண்டும் அல்லது குண்டர் சட்டத்தி...
2             transphobia  இந்த திருநங்கைகள் பொதுமக்களுக்கு பொது இடங்களில...
3             transphobia  அராஜகம் செய்து தங்களுடைய மதிப்பை தாங்களே கெடுத...
4  Non- anti LGBT content  தவறான விடையம் சகோ...அந்த பொண்டுகப் புண்டாமகன்ள...

In [ ]:
df_valid1=df_valid[['category','text']]

In [ ]:
dft1=dft[['labels','Text']]

In [ ]:
dft1['labels'] = dft1.labels.replace(to_replace=['Non-anti-LGBT+ content', 'Homophobic', 'Transphobic'], value=[0,1,2])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_valid1['category'] = df_valid1.category.replace(to_replace=['Non-anti-LGBT+ content', 'Homophobic', 'Transphobic'], value=[0,1,2])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_valid1.head()

   category                                               text
0         0   மதம் ரீதியாக அ‌ல்லது மார்கம் ரீதியாக பேசவேண்டாம்
1         0  திருநங்கை நல்ல மனசு கொண்டவர்கள் நீங்கள் கடைசிய...
2         0                  மொதல்ல தமிழ் மொழியை கேவல படுத்தாத
3         0  கவலைப்படாதேஉன்குடும்பத்தில் கண்டிப்பாஒரு திருந...
4         1  துலுக்க நாடுகள்ல ஓரிணசேர்க்கை அதிகமா ஓரிணசேர்க...

In [ ]:
dft1.head()

,labels,Text,label
0,Non- anti LGBT content,இது புதுவகை கொள்ளை கூட்டம்,0
1,Non- anti LGBT content,சுட்டுக்கொல்ல வேண்டும் அல்லது குண்டர் சட்டத்தி...,0
2,transphobia,இந்த திருநங்கைகள் பொதுமக்களுக்கு பொது இடங்களில...,2
3,transphobia,அராஜகம் செய்து தங்களுடைய மதிப்பை தாங்களே கெடுத...,2
4,Non- anti LGBT content,தவறான விடையம் சகோ...அந்த பொண்டுகப் புண்டாமகன்ள...,0

In [ ]:
dft2 = dft1[['Text','label']]

In [ ]:
for row in dft2:
    dft2['Text'] = dft2['Text'].astype(str)
    dft2['Text'] = dft2['Text'].apply(clean_text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
for row in df_valid1:
  df_valid1['text'] = df_valid1['text'].astype(str)
  df_valid1['text'] = df_valid1['text'].apply(clean_text)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
df_test = pd.read_csv('Homo_tam_test_without_labels.tsv',sep='\t')
df_test.head()

       id                                               Text
0  Tam_01                         இது புதுவகை கொள்ளை கூட்டம்
1  Tam_02  சுட்டுக்கொல்ல வேண்டும் அல்லது குண்டர் சட்டத்தி...
2  Tam_03  இந்த திருநங்கைகள் பொதுமக்களுக்கு பொது இடங்களில...
3  Tam_04  அராஜகம் செய்து தங்களுடைய மதிப்பை தாங்களே கெடுத...
4  Tam_05  தவறான விடையம் சகோ...அந்த பொண்டுகப் புண்டாமகன்ள...

In [ ]:
for row in df_test:
  df_test['Text'] = df_test['Text'].astype(str)
  df_test['Text'] = df_test['Text'].apply(clean_text)

In [ ]:
df_train1.shape, df_valid1.shape, df_test.shape

((2662, 2), (666, 2), (649, 2))

In [ ]:
label_cols = [2]
text_cols = [1]

In [ ]:
X = tokenizer.texts_to_sequences(df_train1.text.values)
X = pad_sequences(X, maxlen=MAX_SEQUENCE_LENGTH)
print('Shape of data tensor:', X.shape)

Shape of data tensor: (2662, 120)

In [ ]:
df_valid1.shape

(666, 2)

In [ ]:
df_valid1.head()

   category                                               text
0         0   மதம் ரீதியாக அ‌ல்லது மார்கம் ரீதியாக பேசவேண்டாம்
1         0  திருநங்கை நல்ல மனசு கொண்டவர்கள் நீங்கள் கடைசிய...
2         0                  மொதல்ல தமிழ் மொழியை கேவல படுத்தாத
3         0  கவலைப்படாதேஉன்குடும்பத்தில் கண்டிப்பாஒரு திருந...
4         1  துலுக்க நாடுகள்ல ஓரிணசேர்க்கை அதிகமா ஓரிணசேர்க...

In [ ]:
Y = pd.get_dummies(df_train1.category).values
print('Shape of label tensor:', Y.shape)

Shape of label tensor: (2662, 3)

In [ ]:
train_features=X

In [ ]:
train_labels = Y

In [ ]:
for row in test_df:
  test_df['Text'] = test_df['Text'].astype(str)
  test_df['Text']= test_df['Text'].apply(clean_text)

In [ ]:
from keras.preprocessing.text import Tokenizer
# The maximum number of words to be used. (most frequent)
MAX_NB_WORDS = 32000
# Max number of words in each complaint.
MAX_SEQUENCE_LENGTH = 120
# This is fixed.
EMBEDDING_DIM = 100
tokenizer = Tokenizer(num_words=MAX_NB_WORDS, filters='!"#$%&()*+,-./:;<=>?@[\]^_`{|}~', lower=False)
tokenizer.fit_on_texts(test_df.Text.values)
word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(word_index))

Found 2531 unique tokens.

**NEW**

In [ ]:
X_test = test_df['Text'].tolist()

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import metrics
#use_idf=True,tokenizer=lambda x: x.split()
vectorizer = TfidfVectorizer(tokenizer=lambda x: x.split())
vectorised_posts = vectorizer.fit_transform(df_train1['text'])
vectorized_train_posts = vectorizer.transform(df_train1['text'])
vectorized_valid_posts = vectorizer.transform(dft2['Text'])
vectorized_test_posts = vectorizer.transform(test_df['Text'])

In [ ]:
print("Feature Size: ", vectorized_train_posts.shape[1])

Feature Size:  9560

In [ ]:
df_valid1['category'].value_counts()

0    526
1    103
2     37
Name: category, dtype: int64

In [ ]:
dft2['label'].value_counts()

0    352
2    271
1     26
Name: label, dtype: int64

In [ ]:
df_train1['category'].value_counts()

0    2022
1     485
2     155
Name: category, dtype: int64

In [ ]:
categories = ['Non-anti-LGBT+ content', 'Homophobic', 'Transphobic']
def actual_label(row):
    return categories[row]

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
lr = LogisticRegression(class_weight='balanced',C =5)
lr.fit(vectorized_train_posts,df_train1['category'])
y_pred = lr.predict(vectorized_valid_posts)
accuracy_score(y_pred,df_valid1['category'])

LogisticRegression(C=5, class_weight='balanced')

0.9279279279279279

In [ ]:
lr = LogisticRegression(class_weight='balanced',C =5)
lr.fit(vectorized_train_posts,df_train1['category'])
y_pred = lr.predict(vectorized_valid_posts)
accuracy_score(y_pred,dft2['label'])

LogisticRegression(C=5, class_weight='balanced')

0.5531587057010786

In [ ]:
#vectorized_test_posts1 = vectorizer.transform(test_df['Text'])

In [ ]:
print(classification_report(y_pred,dft2['label']))

              precision    recall  f1-score   support

           0       0.95      0.56      0.71       597
           1       0.08      0.07      0.08        27
           2       0.08      0.84      0.14        25

    accuracy                           0.55       649
   macro avg       0.37      0.49      0.31       649
weighted avg       0.88      0.55      0.66       649

In [ ]:
test_pred = lr.predict(vectorized_test_posts).tolist()
#test_df['id'] = test_df.index + 1
#test_df['id'] = test_df[]

In [ ]:
run = pd.DataFrame(test_df['id'])
run['text'] = test_df['Text']
run['label'] = test_pred
run['label'] = run['label'].apply(actual_label)
run

,id,text,label
0,Tam_01,புதுவகை கொள்ளை கூட்டம்,Non-anti-LGBT+ content
1,Tam_02,சுட்டுக்கொல்ல குண்டர் சட்டத்தில் கைது செய்ய,Non-anti-LGBT+ content
2,Tam_03,திருநங்கைகள் பொதுமக்களுக்கு பொது இடங்களில் தொல...,Non-anti-LGBT+ content
3,Tam_04,அராஜகம் செய்து தங்களுடைய மதிப்பை தாங்களே கெடுத...,Non-anti-LGBT+ content
4,Tam_05,தவறான விடையம் சகோஅந்த பொண்டுகப் புண்டாமகன்ளுக்...,Non-anti-LGBT+ content
...,...,...,...
644,Tam_645,நாள் திருடன் நாள் அகப்படுவான்,Non-anti-LGBT+ content
645,Tam_646,கர்நாடாகாவில் தமிழர்களைகாவிரி பிரச்சனையின் எதி...,Non-anti-LGBT+ content
646,Tam_647,கருணா பெயர் நாடு கறு நாடு அகம்,Non-anti-LGBT+ content
647,Tam_648,கார் மழை + நாடு +அகம் = கர்நாடகம்,Non-anti-LGBT+ content
648,Tam_649,நமது பெண்களை கேவலப்படுத்திய முன்னோர்கள்,Homophobic